
/**
 * = Sections
 */
.section-header {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/**
 * = Images
 */
.form-bg-image {
  background-position: bottom center !important;
  background: url('../assets/img/illustrations/signin.svg');
}